.accountPage-container{
    padding-top: 80px; /* Add padding to the top of the content to avoid being obscured by the header */
    background-color: lightgray;
    
}

.title{
    font-size: larger;
    color: black;
    font-weight: 400;
}

.error-container{
    text-align: center;
}
@media screen and (max-width: 768px) {
    .accountPage-container {
        padding-top: 40px; /* Adjust padding for smaller screens */
    }
}