*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.top-header {
  width: 100%;
  /* Adjust width to ensure it fits within the viewport */
  position: fixed;
  z-index: 100;
}

.navbar {
  padding: 10px;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #333;
  border-radius: 20px;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 400px rgba(0, 0, 0, 0.2);
  transform: scale(0.85);

}

.navbar:hover {
  box-shadow: 0 0 400px rgba(0, 0, 0, 0.9);
  transition-delay: 500ms;
  transition: 500ms;
  border-radius: 0px;
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  margin: 0px;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;

}


.nav-item {
  display: inline-block;
  margin-right: 30px;

}

.nav-link {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}