.passWordCreationToolBar{
    padding: 10px;
    position: relative;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.tool-box {
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Example border radius */
}

.tool-box label {
    display: block;
    margin-bottom: 10px; /* Adjust spacing between labels and inputs */
}

.tool-box input[type="text"],
.tool-box input[type="number"],
.tool-box input[type="checkbox"]{
    border-radius: 30px;
    margin-bottom: 20px; 
    padding: 5px;    
}


.options-list {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
}

.option-item {
    display: flex;
    align-items: center;
}

.option-item label{
    padding: 5px;
    font-size: xx-small;
    font-weight: 900;
}

#passWordLength{
    width: 30px;
}






