.SharedPasswordContainer{
    background-color: white;
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.SharedPasswordContainer-inner {
    margin-top: 10px;
    background-color: #e2e2e2;
    border-radius: 20px;
    padding: 10px;
}

.SharedPasswordRowContainer{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .SharedPasswordContainer {
        padding: 1rem; /* Adjust padding for smaller screens */
    }
    
    .SharedPasswordRowContainer {
        flex-direction: column; /* Stack rows vertically on smaller screens */
        align-items: center; /* Center align items on smaller screens */
    }
}